In [1]:
import pandas as pd
import warnings
import numpy as np

warnings.filterwarnings("ignore")

In [2]:
# Load birken.csv separated by semicolon
birken = pd.read_csv("birken.csv", sep=";")
# Load the data birkennul.csv separated by semicolon
birkennull = pd.read_csv("birkenull.csv", sep=";")

In [3]:
birken.head()

,ItemName,ItemCode,Empresa,CreateDate,UpdateDate,u_coleccion,u_estilo,u_genero,u_descripcion,u_descrip_color,u_division,u_sellitem,BarCode
0,1005960/ARIZONA SFB LENA BIRKENSTOCK/36/METALL...,110000154061368,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,Seasonal,1005960,WOMENS,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,CLASSIC,1,8.869260e+11
1,1005960/ARIZONA SFB LENA BIRKENSTOCK/37/METALL...,110000154061468,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,Seasonal,1005960,WOMENS,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,CLASSIC,1,8.869260e+11
2,1005960/ARIZONA SFB LENA BIRKENSTOCK/38/METALL...,110000154061568,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,Seasonal,1005960,WOMENS,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,CLASSIC,1,8.869260e+11
3,1005960/ARIZONA SFB LENA BIRKENSTOCK/39/METALL...,110000154061668,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,Seasonal,1005960,WOMENS,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,CLASSIC,1,8.869260e+11
4,1014190/MAYARI BF BIRKENSTOCK/37/WHITE,110000183991468,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,Seasonal,1014190,WOMENS,MAYARI BF BIRKENSTOCK,WHITE,CLASSIC,1,8.024360e+11

In [4]:
birkennull.head()

,ItemName,ItemCode,Empresa,CreateDate,UpdateDate,u_coleccion,u_estilo,u_genero,u_descripcion,u_descrip_color,u_division,u_sellitem,BarCode
0,1005960/ARIZONA SFB LENA BIRKENSTOCK/36/METALL...,110000154061368,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,NaN,NaN,NaN,NaN,NaN,1,8.869260e+11
1,1005960/ARIZONA SFB LENA BIRKENSTOCK/37/METALL...,110000154061468,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,NaN,NaN,NaN,NaN,NaN,1,8.869260e+11
2,1005960/ARIZONA SFB LENA BIRKENSTOCK/38/METALL...,110000154061568,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,NaN,NaN,NaN,NaN,NaN,1,8.869260e+11
3,1005960/ARIZONA SFB LENA BIRKENSTOCK/39/METALL...,110000154061668,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,NaN,NaN,NaN,NaN,NaN,1,8.869260e+11
4,1014190/MAYARI BF BIRKENSTOCK/37/WHITE,110000183991468,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,NaN,NaN,NaN,NaN,NaN,1,8.024360e+11

In [5]:
# Extraer u_estilo de ItemName (lo que está antes del primer '/')
birkennull['u_estilo'] = birkennull['ItemName'].str.split('/').str[0]

# Condición 1: que tenga al menos un "/"
tiene_slash = birkennull['ItemName'].str.contains('/')

# Condición 2: que u_estilo tenga al menos 2 caracteres y cumpla formato letra+número
formato_correcto = (
    birkennull['u_estilo'].str.len() >= 2 &
    birkennull['u_estilo'].str[0].str.isalpha() &
    birkennull['u_estilo'].str[1].str.isnumeric()
)

# Condición final: válido si cumple ambas
cond_valido = tiene_slash & formato_correcto

# Separar válidos e inválidos
df_valido = birkennull[cond_valido].copy()
df_invalido = birkennull[~cond_valido].copy()

# Limpiar u_estilo en los inválidos
df_invalido['u_estilo'] = np.nan

In [6]:
df_valido.head()

,ItemName,ItemCode,Empresa,CreateDate,UpdateDate,u_coleccion,u_estilo,u_genero,u_descripcion,u_descrip_color,u_division,u_sellitem,BarCode
0,1005960/ARIZONA SFB LENA BIRKENSTOCK/36/METALL...,110000154061368,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,1005960,NaN,NaN,NaN,NaN,1,8.869260e+11
1,1005960/ARIZONA SFB LENA BIRKENSTOCK/37/METALL...,110000154061468,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,1005960,NaN,NaN,NaN,NaN,1,8.869260e+11
2,1005960/ARIZONA SFB LENA BIRKENSTOCK/38/METALL...,110000154061568,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,1005960,NaN,NaN,NaN,NaN,1,8.869260e+11
3,1005960/ARIZONA SFB LENA BIRKENSTOCK/39/METALL...,110000154061668,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,1005960,NaN,NaN,NaN,NaN,1,8.869260e+11
4,1014190/MAYARI BF BIRKENSTOCK/37/WHITE,110000183991468,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,1014190,NaN,NaN,NaN,NaN,1,8.024360e+11

In [7]:
df_valido['u_descripcion'] = df_valido['ItemName'].str.split('/').str[1]
df_valido.head()

,ItemName,ItemCode,Empresa,CreateDate,UpdateDate,u_coleccion,u_estilo,u_genero,u_descripcion,u_descrip_color,u_division,u_sellitem,BarCode
0,1005960/ARIZONA SFB LENA BIRKENSTOCK/36/METALL...,110000154061368,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,1005960,NaN,ARIZONA SFB LENA BIRKENSTOCK,NaN,NaN,1,8.869260e+11
1,1005960/ARIZONA SFB LENA BIRKENSTOCK/37/METALL...,110000154061468,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,1005960,NaN,ARIZONA SFB LENA BIRKENSTOCK,NaN,NaN,1,8.869260e+11
2,1005960/ARIZONA SFB LENA BIRKENSTOCK/38/METALL...,110000154061568,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,1005960,NaN,ARIZONA SFB LENA BIRKENSTOCK,NaN,NaN,1,8.869260e+11
3,1005960/ARIZONA SFB LENA BIRKENSTOCK/39/METALL...,110000154061668,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,1005960,NaN,ARIZONA SFB LENA BIRKENSTOCK,NaN,NaN,1,8.869260e+11
4,1014190/MAYARI BF BIRKENSTOCK/37/WHITE,110000183991468,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,1014190,NaN,MAYARI BF BIRKENSTOCK,NaN,NaN,1,8.024360e+11

In [8]:
df_valido['u_descrip_color'] = df_valido['ItemName'].str.split('/').str[3]
df_valido.head()

,ItemName,ItemCode,Empresa,CreateDate,UpdateDate,u_coleccion,u_estilo,u_genero,u_descripcion,u_descrip_color,u_division,u_sellitem,BarCode
0,1005960/ARIZONA SFB LENA BIRKENSTOCK/36/METALL...,110000154061368,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,1005960,NaN,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,NaN,1,8.869260e+11
1,1005960/ARIZONA SFB LENA BIRKENSTOCK/37/METALL...,110000154061468,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,1005960,NaN,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,NaN,1,8.869260e+11
2,1005960/ARIZONA SFB LENA BIRKENSTOCK/38/METALL...,110000154061568,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,1005960,NaN,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,NaN,1,8.869260e+11
3,1005960/ARIZONA SFB LENA BIRKENSTOCK/39/METALL...,110000154061668,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,1005960,NaN,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,NaN,1,8.869260e+11
4,1014190/MAYARI BF BIRKENSTOCK/37/WHITE,110000183991468,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,NaN,1014190,NaN,MAYARI BF BIRKENSTOCK,WHITE,NaN,1,8.024360e+11

In [9]:
# Seleccionar solo columnas necesarias de birken use bk in
bk_temp = birken[['ItemCode', 'u_coleccion', 'u_genero','u_division']].rename(
    columns={
        #use bk not ad
        'u_coleccion': 'u_coleccion_bk',
        'u_genero': 'u_genero_bk',
        'u_familia': 'u_familia_bk',
        'u_division': 'u_division_bk'

  
    }
)

# Hacer el merge con adnull
df_valido = df_valido.merge(bk_temp, on='ItemCode', how='left')

# Llenar columnas en adnull solo si están vacías
for col in ['u_genero', 'u_coleccion', 'u_division']:
    df_valido[col] = df_valido[f'{col}_bk'].combine_first(birkennull[col])
    df_valido.drop(columns=[f'{col}_bk'], inplace=True)

# Mostrar resultado
df_valido.head()

,ItemName,ItemCode,Empresa,CreateDate,UpdateDate,u_coleccion,u_estilo,u_genero,u_descripcion,u_descrip_color,u_division,u_sellitem,BarCode
0,1005960/ARIZONA SFB LENA BIRKENSTOCK/36/METALL...,110000154061368,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,Seasonal,1005960,WOMENS,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,CLASSIC,1,8.869260e+11
1,1005960/ARIZONA SFB LENA BIRKENSTOCK/37/METALL...,110000154061468,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,Seasonal,1005960,WOMENS,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,CLASSIC,1,8.869260e+11
2,1005960/ARIZONA SFB LENA BIRKENSTOCK/38/METALL...,110000154061568,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,Seasonal,1005960,WOMENS,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,CLASSIC,1,8.869260e+11
3,1005960/ARIZONA SFB LENA BIRKENSTOCK/39/METALL...,110000154061668,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,Seasonal,1005960,WOMENS,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,CLASSIC,1,8.869260e+11
4,1014190/MAYARI BF BIRKENSTOCK/37/WHITE,110000183991468,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,Seasonal,1014190,WOMENS,MAYARI BF BIRKENSTOCK,WHITE,CLASSIC,1,8.024360e+11

In [10]:
df_invalido.head()

,ItemName,ItemCode,Empresa,CreateDate,UpdateDate,u_coleccion,u_estilo,u_genero,u_descripcion,u_descrip_color,u_division,u_sellitem,BarCode
70,GIZEH BFBC BIRKENSTOCK MOCHA 35 BIRKENSTOCK,140000034131268,SBO_00_DISRESALV,14/05/2024 0:00,14/06/2024 0:00,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
71,GIZEH BFBC BIRKENSTOCK MOCHA 36 BIRKENSTOCK,140000034131368,SBO_00_DISRESALV,14/05/2024 0:00,14/06/2024 0:00,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
72,GIZEH BFBC BIRKENSTOCK MOCHA 37 BIRKENSTOCK,140000034131468,SBO_00_DISRESALV,14/05/2024 0:00,14/06/2024 0:00,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
73,GIZEH BFBC BIRKENSTOCK MOCHA 38 BIRKENSTOCK,140000034131568,SBO_00_DISRESALV,14/05/2024 0:00,14/06/2024 0:00,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
81,GIZEH BFBC BIRKENSTOCK MOCCA 41 BIRKENSTOCK,140000034161868,SBO_00_DISRESALV,14/05/2024 0:00,14/06/2024 0:00,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

In [11]:
# Seleccionar solo columnas necesarias de birken use bk in
bk_temp = birken[['ItemCode', 'u_coleccion', 'u_genero','u_division','u_estilo','u_descripcion','u_descrip_color']].rename(
    columns={
        #use bk not ad
        'u_coleccion': 'u_coleccion_bk',
        'u_genero': 'u_genero_bk',
        'u_familia': 'u_familia_bk',
        'u_division': 'u_division_bk',
        'u_estilo': 'u_estilo_bk',
        'u_descripcion': 'u_descripcion_bk',
        'u_descrip_color': 'u_descrip_color_bk'
    }
)

# Hacer el merge con adnull
df_invalido = df_invalido.merge(bk_temp, on='ItemCode', how='left')

# Llenar columnas en adnull solo si están vacías
for col in ['u_genero', 'u_coleccion', 'u_division', 'u_estilo', 'u_descripcion', 'u_descrip_color']:
    df_invalido[col] = df_invalido[f'{col}_bk'].combine_first(birkennull[col])
    df_invalido.drop(columns=[f'{col}_bk'], inplace=True)

# Mostrar resultado
df_invalido.head()

,ItemName,ItemCode,Empresa,CreateDate,UpdateDate,u_coleccion,u_estilo,u_genero,u_descripcion,u_descrip_color,u_division,u_sellitem,BarCode
0,GIZEH BFBC BIRKENSTOCK MOCHA 35 BIRKENSTOCK,140000034131268,SBO_00_DISRESALV,14/05/2024 0:00,14/06/2024 0:00,Core Essential,43751,UNISEX,GIZEH BFBC BIRKENSTOCK,MOCHA,CLASSIC,1,NaN
1,GIZEH BFBC BIRKENSTOCK MOCHA 36 BIRKENSTOCK,140000034131368,SBO_00_DISRESALV,14/05/2024 0:00,14/06/2024 0:00,Core Essential,43751,UNISEX,GIZEH BFBC BIRKENSTOCK,MOCHA,CLASSIC,1,NaN
2,GIZEH BFBC BIRKENSTOCK MOCHA 37 BIRKENSTOCK,140000034131468,SBO_00_DISRESALV,14/05/2024 0:00,14/06/2024 0:00,Core Essential,43751,UNISEX,GIZEH BFBC BIRKENSTOCK,MOCHA,CLASSIC,1,NaN
3,GIZEH BFBC BIRKENSTOCK MOCHA 38 BIRKENSTOCK,140000034131568,SBO_00_DISRESALV,14/05/2024 0:00,14/06/2024 0:00,Core Essential,43751,UNISEX,GIZEH BFBC BIRKENSTOCK,MOCHA,CLASSIC,1,NaN
4,GIZEH BFBC BIRKENSTOCK MOCCA 41 BIRKENSTOCK,140000034161868,SBO_00_DISRESALV,14/05/2024 0:00,14/06/2024 0:00,Core Essential,43751,UNISEX,GIZEH BFBC BIRKENSTOCK,MOCCA,CLASSIC,1,NaN

In [12]:
# concatenar los dos dataframes
df_final = pd.concat([df_valido, df_invalido], ignore_index=True)

df_final.head()

,ItemName,ItemCode,Empresa,CreateDate,UpdateDate,u_coleccion,u_estilo,u_genero,u_descripcion,u_descrip_color,u_division,u_sellitem,BarCode
0,1005960/ARIZONA SFB LENA BIRKENSTOCK/36/METALL...,110000154061368,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,Seasonal,1005960,WOMENS,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,CLASSIC,1,8.869260e+11
1,1005960/ARIZONA SFB LENA BIRKENSTOCK/37/METALL...,110000154061468,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,Seasonal,1005960,WOMENS,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,CLASSIC,1,8.869260e+11
2,1005960/ARIZONA SFB LENA BIRKENSTOCK/38/METALL...,110000154061568,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,Seasonal,1005960,WOMENS,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,CLASSIC,1,8.869260e+11
3,1005960/ARIZONA SFB LENA BIRKENSTOCK/39/METALL...,110000154061668,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,Seasonal,1005960,WOMENS,ARIZONA SFB LENA BIRKENSTOCK,METALLIC SILVER,CLASSIC,1,8.869260e+11
4,1014190/MAYARI BF BIRKENSTOCK/37/WHITE,110000183991468,SBO_00_DISRESALV,19/03/2024 0:00,14/06/2024 0:00,Seasonal,1014190,WOMENS,MAYARI BF BIRKENSTOCK,WHITE,CLASSIC,1,8.024360e+11